<nav  class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Online Shop</a>
    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="isMenuCollapsed = true" routerLink="/">Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" (click)="isMenuCollapsed = true" routerLink="/shopping-cart">Shopping Cart
           <span class="badge badge-warning badge-pill"  *ngIf="cart1$ | async as num"> 
             <!-- {{cartItemNumber}} -->
            {{ num.totalItemsCount}}

            </span>
          </a>
        </li>  
        <ng-template #unknownuser>
          <li   class="nav-item" routerLinkActive="active current">
            <a class="nav-link" (click)="isMenuCollapsed = true" routerLink="/login">Login</a>
          </li> 
        </ng-template>
          
        <li ngbDropdown  *ngIf="appuser ; else unknownuser " class="nav-item dropdown show">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{appuser.name}}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a ngbDropdownItem class="dropdown-item" routerLink="/my/orders">My Orders</a>
            <ng-container *ngIf="appuser.isAdmin">
              <a class="dropdown-item" routerLink="/admin/orders">Manage prodcuts</a>
              <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
          </ng-container>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
            
          </div>
        </li> 
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>